<a href="https://colab.research.google.com/github/aqillakhamis/Deep-Learning-Practice/blob/master/Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Build Neural Network Model using Keras Framework**

Mobile Price Classification

## Import Dependent Libraries

In [0]:
#Dependencies 
import numpy as np 
import pandas as pd 

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

## Import Dataset

In [3]:
dataset = pd.read_csv('data/train.csv')
dataset.head(10)

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1
5           1859     0          0.5  ...             0     0            1
6           1821     0          1.7  ...             0     1            3
7           1954     0          0.5  ...             1     1            0
8           1445     1          0.5  ...             0     0            0
9            509     1          0.6  ...             0     0            0

[10 rows x 21 columns]

In [0]:
#changing dataframe to numpy array 
X = dataset.iloc[:,:20].values  # features 
Y = dataset.iloc[:,20:21].values # classes

In [0]:
#normalizing the data 
#change value of an array to a common scale, without distorting differences in the ranges of values 
sc = StandardScaler()
X = sc.fit_transform(X)

In [0]:
#one hot encoded - convert integer classes into binary values 
#(n, number of classes) 
#n = number of samples in dataset 

OHE = OneHotEncoder()
Y = OHE.fit_transform(Y).toarray()

In [0]:
#train data = 90%
#test data = 10%
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1)